.wrapper {
    /* border: 1px solid #ddd; */
    display: flex;
    overflow-x: auto;
}

.wrapper .item {
    min-width: 110px;
    height: 110px;
    line-height: 110px;
    text-align: center;
    background-color: black;
    margin-right: 2px;
}